html {
    background-color: rgb(232, 222, 240);
}

body {
    width: 30em;
    padding: 1em;
    border-style: ridge;
}

ul {
    padding: 1em;
    margin: 0;
    list-style: none;
}

li {
    list-style: none;

}

body > ul > li {
    font-size: medium;
    /* font-style: italic; */
}

button {
    color: blue;
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: 1px 1px 1px rgba(37, 31, 31, 0.29), inset 1px 1px 1px rgba(255,255,255, .44);
}

.togglesection {
    display: none;
}

.children {
    cursor: cell;
    font-weight: bold;
    /* border: inset; */
}

a.children {
    border: outset;
}

a.inset {
    border: inset;
}